.newsRelated {
  padding: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-grey-3);
  column-gap: 2rem;
  border-radius: 1rem;
}

.newsImage {
  display: block;
  max-height: 8rem;
  border-radius: 1rem;
}

.newsTitle {
  line-height: 1.4;
  margin-bottom: 0.8rem;
}

.newsDescription {
  font-size: 1.4rem;
}

.newsLink {
  color: var(--color-white);
  font-size: 1.3rem;
  opacity: 0.7;
  text-decoration: none;
}

.newsLink:hover {
  text-decoration: underline;
}
