.analyticsTable {
  border-collapse: collapse;
  margin: 2.5rem 0;
  min-width: 40rem;
  font-size: 1.8rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  text-align: center;
}

.analyticsTable thead tr {
  background-color: var(--color-grey-2);
  color: #ffffff;
}

.analyticsTable th,
.analyticsTable td {
  padding: 1.2rem 1.5rem;
}

.analyticsTable tbody tr td:first-child {
  display: flex;
  align-items: center;
  margin-left: 10rem;
  gap: 1rem;
}

.analyticsTable tbody tr td:not(:first-child) {
  font-size: 1.8rem;
}

.analyticsTable tbody tr:nth-of-type(even) {
  background-color: var(--color-grey-2);
}

.analyticsTable tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-grey-3);
}

.button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  position: relative;
}

.button .icon {
  position: absolute;
  top: 0.5rem;
}

.button .icon1 {
  position: absolute;
  top: 0.7rem;
}

.button .icon2 {
  position: absolute;
  top: 1.7rem;
}

.totalDeaths {
  color: var(--color-red);
}

.totalRecovered {
  color: var(--color-green);
}
