.countryName {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 3rem 0;
  column-gap: 1.5rem;
}

.countryName div {
  display: flex;
  justify-content: center;
  align-self: center;
}
