.dropdownItem {
  height: 5rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--platinum);
}

.dropdownItem:hover {
  background-color: var(--color-grey-3);
}

.iconButton {
  margin-top: 0.5rem;
}
