@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.overview {
  font-size: 2rem;
  padding: 8rem 0;
}

.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 20rem);
  grid-gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black-dark-2);
  border-radius: 1rem;
}

.number {
  font-family: Audiowide, sans-serif;
  font-size: 4rem;
}
