@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.overview {
  font-size: 2rem;
  padding: 8rem 0;
}

.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.number {
  font-family: Audiowide, sans-serif;
  font-size: 4rem;
}
