.newsArticle {
  padding: 4rem;
  margin-bottom: 3rem;
  border: 1px solid var(--color-grey-3);
  border-radius: 1rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}

.newsImage {
  display: block;
  max-height: 16rem;
  border-radius: 1rem;
}

.newsTitle {
  margin-bottom: 1.5rem;
}

.newsDescription {
  margin-bottom: 1rem;
}

.newsLink {
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 16rem;
  justify-content: space-between;
  color: #6ba2f1;
}

.newsLink:hover {
  text-decoration: underline;
}

.newsExtras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsExtrasRight {
  opacity: 0.8;
}
