.newsArticle {
  padding: 4rem;
  margin-bottom: 3rem;
  border: 1px solid var(--color-grey-3);
  border-radius: 1rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}

.newsImage {
  display: block;
  height: 15rem;
  border-radius: 1rem;
}

.newsTitle {
  margin-bottom: 1.5rem;
}

.newsLink {
  color: var(--color-white);
  text-decoration: none;
}
