@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Lato:wght@100;300;400;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --platinum: #ebe9eaff;
  --artichoke: #86855dff;
  --rosso-corsa: #c22808ff;
  --pacific-blue: #17a2b8ff;
  --black-dark-1: #121212;
  --black-dark-2: #1f1f1f;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--platinum);
  background-color: var(--black-dark-1);
  font-size: 1.6rem;
  min-height: 100vh;
}
