@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:wght@100;300;400;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --platinum: #ebe9eaff;
  --artichoke: #86855dff;
  --color-red: #c22808ff;
  --color-green: #29a90c;
  --pacific-blue: #17a2b8ff;
  /* --color-primary-1: #19181f; */
  --color-primary-1: #121212;
  --color-primary-1: #1e2127;
  --color-primary-2: #2b2733;
  /* --color-primary-2: #1d1d1d; */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--platinum);
  color: #dedede;
  background-color: var(--color-primary-1);
  font-size: 1.6rem;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #919191;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
